@import '../../styles/base/variables';

.category {
    display: flex;
    align-items: center;

    @include breakpoint(blg) {
        overflow-x: scroll;
        padding-bottom: 10px;
    }

    &__item {
        display: flex;
        flex: 0 1 100%;
        position: relative;

        @include breakpoint(blg) {
            flex: 1 0 140px;
        }

        @include breakpoint(lg) {
            flex: 1 0 100px;
        }

        @include breakpoint(md) {
            flex: 1 0 90px;
        }

        @include breakpoint(sm) {
            flex: 1 0 auto;
        }

        &:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 1px;
            height: 60%;
            border-radius: 100%;
            background-color: #dfdfdf;
        }
    }

    &__link {
        display: block;
        width: 100%;
        font-size: 18px;
        color: #616161;
        text-align: center;
        padding: 10px 15px;
        transition: 0.3s all;
        
        &:hover {
            color: #000000;
        }

        @include breakpoint(lg) {
            font-size: 16px;
        }

        @include breakpoint(md) {
            font-size: 14px;
        }

        @include breakpoint(sm) {
            padding: 10px 20px;
        }

        &--first {
            @include breakpoint(sm) {
                padding-left: 0;
                text-align: left;
            }
        }

    }
}
